* {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4e2c7;
}

#todo-card {
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 150px auto;
  max-width: 600px;
}

#todo-card h2 {
  margin: 0;
  border-bottom: 1px solid #b9d29d;
  padding: 15px 20px;
}

#todo-card .task-item {
  padding: 0 20px;
  display: flex;
  border-top: solid 1px #b9d29d;
}

#todo-card .task-item .task-text {
  border: none;
  padding: 12px 0 12px 24px;
  background-color: #fefae0;
  width: 96%;
}

#todo-card .task-item .checkbox {
  margin-right: 15px;
}

#todo-card .task-item .trash-icon {
  margin: auto 20px auto 20px;
}

#todo-card #clear-all-btn {
  align-self: center;
  border: none;
  border-top: #b9d29d solid 1px;
  width: 100%;
  background-color: #fefae0;
  padding: 12px;
  cursor: pointer;
}

.add-task-container {
  display: flex;
}

.add-task-container #add-task-input {
  border: none;
  padding: 12px 0 12px 24px;
  background-color: #fefae0;
  width: 96%;
}

.add-task-container #add-task-btn {
  border: none;
  background-color: #fefae0;
  padding: 12px;
  margin-right: 35px;
  cursor: pointer;
}
